/* general */
body{
  font-family: "Gill Sans", sans-serif;
  /* padding-left: 200px;
  padding-right: 200px; */
}

.main{
  font-size: 115%;
}

h2{
  color: #88150d;
}
h3{
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;
  color: #ad3727;
}
.main{
    padding-top: 60px;
    padding-left: 15%;
    padding-right: 15%;
}

.active{
    text-decoration: underline;
}
.cite{
  font-size: 10px;
  margin: 0px;
  margin-left: 40px;
}

/* navbar */
.header{
  background-color: #b63232;
}

.banner{
  padding-top: 15px;
  width:70%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar{
    margin-top: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b63232;
  padding-left: 120px;
  font-weight: bold;
}

.navbar li {
  float: left;
  margin-right: 17px;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
}
.nav{
  display: flex;
  flex-direction: row;
}
.navimg{
  display: inline-block;
  padding-left: 120px;
}
.navmain{
  display: inline-block;
}
.logo img{
  height: 50px;
  width: 50px;
}
.logo{
  padding-left: 0px;
  padding-right: 0px;
}
.logo a{
  width: 58px;
  padding: 0px;
  margin: 0px;
}
.navbar li a:hover{
    text-decoration: underline;
}

/* dropdown */
.navbar ul ul {
	display: none;
	position: absolute;
    padding: 0px;
}
.navbar ul li:hover > ul {
	display:inherit;
}
.navbar ul ul li {
	float:none;
	display:list-item;
	position: relative;
    margin-right: 0px;
}
.navbar ul ul li a{
    text-align: left;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .main {
  padding-top: 60px;
}

.homehidden{
  display:none;
}
.active{
    text-decoration: underline;
}
/* About Page */

.first{
  display: block;
}
.second{
  display: block;
}
.third{
  display: block;
}
.fourth{
  display: block;
}
.experience_slides img{
  width: 100%;
  padding-bottom: 20px;
}
.slideshow-container{
  position: relative;
  margin: auto;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 200%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  color: white;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: #b63232;
}
.stext{
  color: white;
  font-size: 100%;
  padding: 8px 12px;
  position: absolute;
  top: 550px;
  left: 30px;
  width: 100%;
  text-align: center;
  background: #b63232;
  width: auto;
}
.number_slide{
  color: white;
  font-size: 100%;
  padding: 8px 12px;
  position: absolute;
  top:10px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* E-Board */
.member_column {
  float: left;
  width: 283px;
  margin-bottom: 16px;
  padding: 0 8px;
}
.box{
  width: 30%;
  display: inline-block;
  margin-right: 0px;
  margin-left: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:80%;
}
.card img{
  width:100%;
}
.container {
  padding: 0 16px;
  padding-bottom: 1px;
  margin-bottom: 10px;
}
.title {
  color: grey;
}
/* Contact Bar */
.contactbar{
  background-color: #b63232;
  color: white;
  padding-top: 8px;
  padding-left: 14px;
}
.error_message2{
  display: inline-block;
  color: white;
  border-left: 1px white solid;
}
.formmain{
  display:flex;
  flex-direction: column;
}
.forminput{
  flex-wrap: nowrap;
  width: 400px;
}
#questionform{
  display: flex;
  flex-direction: row;
}
.question_form{
  display:inline-block;
  padding-left: 300px;
  width: 40%;
}
.contacticon{
  display:inline-block;
  padding-left: 50px;
}
.submitquestion{
  display:inline-block;
  padding-left: 20px;
}
.question_title{
    color: white;
  }
.questionbutton{
  margin: 5px 0;
  padding: 9px;
}
.emaillink{
  color: white;
}
.contactinfo{
  padding-left: 40px;
  display: inline-block;
}
.ename{
  font-size: 130%;
}
.icon{
  width:40px;
}

/* fam page */
.fam-num{
  width: 10%;
}

.color{
  background: #b63232;
  opacity: 75%;
}

/* membership */
.member{
  width: 100%;
}

table{
    width: 100%;
    padding-bottom: 20px;
}

.table th {
    color: white;
    background-color: #b63232;
    text-align: left;
}

.table td {
    text-align: left;
}

.table tr:nth-child(odd){
    background-color: #ffe7e6;
}


/* events */
.poster{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.events ul li{
    list-style: none;
}

/* order form */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Gotham Book", sans-serif;
  font-size: 18px;
}

input, textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #aa481f;
  font-family: "Gotham", sans-serif;
  font-size: 14px;
}

.order_item {
  margin-top: 10px;
  width: 25%;
  text-align: center;
}

.order_item input {
  width: 60px;
}

.pick_up {
  display: flex;
  margin-top: 10px;
}

.pick_up div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

#date, #time {
  width: 130px;
}

button {
  margin: 10px 0;
  align-self: flex-end;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #dd4f2f;
  font-family: "Gotham Book", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #dd4f2f;
  background-color: white;
}

button:hover {
  color: white;
  background-color: #dd4f2f;
  cursor: pointer;
}

.error_message {
  display: inline-block;
  padding-left: 5px;
  border-left: 1px red solid;
  font-size: 14px;
  color: red;
}
.error_message{
  display: inline-block;
}
.hidden {
  display: none;
}

.note {
  margin-top: 5px;
  margin-bottom: 5px;
}

th, td {
  padding: 7px 10px 10px 10px;
}

.input_name {
  font-variant: small-caps;
}

.sample {
  display: flex;
  flex-direction: row;
}

.merch {
  margin: 20px;
}

.merch img {
  width:300px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.announcement {
  margin-left: 20px;
}

.calback {
  color: #4E4F4A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat';
  font-weight: 700;
  min-height: 100vh;
  padding-bottom: 40px;
}

.calmain {
  background-color: #F6E9DC;
  -ms-flex-preferred-size: 980px;
      flex-basis: 980px;
  padding: 0px 20px 20px 20px;
}

.calendar {
  /* table-display: fixed; */
  width: 100%;
}

.calendar__day__header,
.calendar__day__cell {
  border: 2px solid #e66053;
  text-align: center;
  width: 100% / 7;
  vertical-align: middle;
}

.calendar__day__header,
.calendar__day__cell {
  padding: .75rem 0 1.5rem;
}

.calendar__banner--month {
  text-align: center;
  padding: .75rem;
}
.calendar__banner--month h1 {
  background-color: #4E4F4A;
  color: #F6E9DC;
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: .5rem 2rem;
  text-transform: uppercase;
}

.calendar__day__header {
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.calendar__day__cell {
  font-size: 4rem;
  position: relative;
}

tr:nth-child(odd) > .calendar__day__cell:nth-child(odd) {
  color: #e66053;
}

tr:nth-child(even) > .calendar__day__cell:nth-child(even) {
  color: #e66053;
}

.calendar__day__cell[data-bank-holiday] {
  background-color: #e66053;
  color: #F6E9DC;
}
.calendar__day__cell[data-bank-holiday]:after {
  content: attr(data-bank-holiday);
  color: #F6E9DC;
  display: block;
  font-weight: 400;
  font-size: .75rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  text-transform: uppercase;
}

.calendar__day__cell[data-moon-phase] {
  color: #F6E9DC;
  background-color: #4E4F4A;
  border-color: #4E4F4A;
}
.calendar__day__cell[data-moon-phase]:after {
  content: attr(data-moon-phase);
  color: #F6E9DC;
  display: block;
  font-size: .75rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1rem;
  text-transform: uppercase;
}


/* mobile */
@media (max-width: 600px){

  .logo{
    display: none;
  }

  nav{
    padding-top: 20px;
  }

  .main{
    padding: 5px;
  }

  body{
    padding-left: 0px;
    padding-right: 0px;
  }
  .main {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* fam page */
  .fam-num{
    width: 25%;
  }

  /* Contact page */
  .contactpage{
    display: flex;
    flex-flow: column;
  }
  .member_column{
    margin-left: 0px;
    padding-left: 17px;
  }
  .card{
    display:flex;
    width: 100%;
  }
  .card img{
    width: 150px;
    height: 170px;
  }
  .member_row{
    display:flex;
    flex-direction: column;
  }
  .container{
    display:block;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 170px;
    width: 280px;
  }

  /* about page */
  .aboutimg{
    width:280px;
    height:200px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .ename {
    font-size: 110%;
}

  /* navbar */
  .header{
    background-color: #b63232;
  }
  .banner{
    width:100%;
    padding-top: 15px;
    height:auto;
    padding-left: 0px;
  }

  .navbar{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height:auto;
    padding-left: 0px;
    padding-top: 0px;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b63232;
    padding-left: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar li {
    float: left;
    margin-right: 17px;
  }

  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 2px;
    text-decoration: none;
  }
  .nav{
    display: flex;
    flex-direction: column;
  }
  /* .navimg{
    display: inline-block;
    padding-left: 0px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  } */
  .navmain{
    display: inline-block;
  }
  .homehidden{
    display:flex;
    text-decoration: none;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-weight: 700;
    padding:7px;
  }
  .homehidden:hover{
    text-decoration: underline;
  }
  .logo img{
    height: 50px;
    width: 50px;
  }
  .logo{
    padding-left: 0px;
    padding-right: 0px;
  }
  .logo a{
    width: 58px;
    padding: 0px;
    margin: 0px;
  }
  .navbar li a:hover{
      text-decoration: underline;
  }

  /* dropdown */
  .navbar ul ul {
  	display: none;
  	position: absolute;
    padding: 0px;
  }
  .navbar ul li:hover > ul {
  	display:inherit;
  }
  .navbar ul ul li {
  	float:none;
  	display:list-item;
  	position: relative;
    margin-right: 0px;
  }

  .aboutimg{
    width:280px;
    height:240px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 70px;
  }
  .stext{
    color: white;
    font-size: 100%;
    padding: 8px 12px;
    position: absolute;
    top: 245px;
    left: 0px;
    width: 100%;
    text-align: center;
    background: #b63232;
    width: auto;
  }
  .prev, .next{
    cursor: pointer;
    position: absolute;
    top: 34%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 200%;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    color: white;
  }
  .experience_slides img{
    width: 100%;
    padding-bottom: 60px;
  }

}
