/* general */
body{
  font-family: "Gill Sans", sans-serif;
  /* padding-left: 200px;
  padding-right: 200px; */
}

.main{
  font-size: 115%;
}

h2{
  color: #88150d;
}
h3{
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;
  color: #ad3727;
}

.main{
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

.active{
    text-decoration: underline;
}
.cite{
  font-size: 10px;
  margin: 0px;
  margin-left: 40px;
}

/* navbar */
.header{
  background-color: #b63232;
}

.banner{
  padding-top: 15px;
  width:70%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b63232;
  font-weight: bold;
}

.navbar li {
    float: left;
    padding:20px;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar li a:hover{
    text-decoration: underline;
}

/* dropdown */
.navbar ul ul {
	display: none;
	position: absolute;
    padding: 0px;
}
.navbar ul li:hover > ul {
	display:inherit;
}
.navbar ul ul li {
	float:none;
	display:list-item;
	position: relative;
    margin-right: 0px;
}
.navbar ul ul li a{
    text-align: left;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .main {
  padding-top: 60px;
}

.homehidden{
  display:none;
}
.active{
    text-decoration: underline;
}
/* About Page */

.first{
  display: block;
}
.second{
  display: block;
}
.third{
  display: block;
}
.fourth{
  display: block;
}
.experience_slides img{
  width: 100%;
  padding-bottom: 20px;
}
.slideshow-container{
  position: relative;
  margin: auto;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 200%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  color: white;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: #b63232;
}
.stext{
  color: white;
  font-size: 100%;
  padding: 8px 12px;
  position: absolute;
  top: 550px;
  left: 30px;
  width: 100%;
  text-align: center;
  background: #b63232;
  width: auto;
}
.number_slide{
  color: white;
  font-size: 100%;
  padding: 8px 12px;
  position: absolute;
  top:10px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* E-Board */
.member_column {
  padding-right: 40px;
  padding-bottom: 40px;

}
.box{
  width: 30%;
  display: inline-block;
}

.card img{
  width:100%;
}

.title {
  color: grey;
}
/* Contact Bar */
.footer{
  background-color: #b63232;
  color: white;
  flex-wrap: wrap;
}
.contactbar{
    width: 70%;
    margin: 0 auto;
}
.error_message2{
  display: inline-block;
  color: white;
  border-left: 1px white solid;
}
.formmain{
  display:flex;
  flex-direction: column;
}
.forminput{
  flex-wrap: nowrap;
}
#questionform{
  display: flex;
  flex-direction: row;
}
.question_form{
  display:inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
.contacticon{
  display: inline-block;
  padding: 20px 20px 0px 20px;
}
.submitquestion{
  display:inline-block;
}
.question_title{
    color: white;
  }
.questionbutton{
  margin: 5px 0;
  padding: 9px;
}
.emaillink{
  color: white;
}
.contactinfo{
  display: inline-block;
  padding: 20px;
}
.ename{
  font-size: 130%;
}
.icon{
  width:40px;
}

/* fam page */
.fam-num{
  width: 10%;
}

.color{
  background: #b63232;
  opacity: 75%;
}

/* membership */
.member{
  width: 100%;
}

table{
    width: 100%;
    padding-bottom: 20px;
}

.table th {
    color: white;
    background-color: #b63232;
    text-align: left;
}

.table td {
    text-align: left;
}

.table tr:nth-child(odd){
    background-color: #ffe7e6;
}


/* events */
.poster{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.events ul li{
    list-style: none;
}

/* order form */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
}

input, textarea {
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #aa481f;
}

textarea {
   resize: none;
}

input[type=text], input[type=email] {
    height: 35px;
}

.order_item {
  margin-top: 10px;
  width: 25%;
}

.order_item input {
  width: 60px;
}

.pick_up {
  display: flex;
  margin-top: 10px;
}

.pick_up div {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

#date, #time {
  width: 130px;
}

button {
  margin: 10px 0;
  align-self: flex-end;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #dd4f2f;
  font-family: "Gotham Book", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #dd4f2f;
  background-color: white;
}

button:hover {
  color: white;
  background-color: #dd4f2f;
  cursor: pointer;
}

.error_message {
  display: inline-block;
  padding-left: 5px;
  border-left: 1px red solid;
  font-size: 14px;
  color: red;
}
.error_message{
  display: inline-block;
}
.hidden {
  display: none;
}

.note {
  margin-top: 5px;
  margin-bottom: 5px;
}

th, td {
  padding: 7px 10px 10px 10px;
}

.input_name {
  font-variant: small-caps;
}

.sample {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.merch {
    margin-right: 30px;
}

.merch img {
    width: 300px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.announcement {
  margin-left: 20px;
}

.quantity{
    display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #navbar{
    display: block;
}


/* mobile */
@media (max-width: 415px){

    nav ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    nav li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }

    /*Display 'show menu' link*/
    .show-menu {
        display:block;
        color: white;
        font-weight: bold;
    }

  .logo{
    display: none;
  }

  nav{
    padding-top: 20px;
  }

  .main{
    padding: 5px;
  }

  body{
    padding-left: 0px;
    padding-right: 0px;
  }
  .main {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* fam page */
  .fam-num{
    width: 25%;
  }

  /* Contact page */
  .contactpage{
    display: flex;
    flex-flow: column;
  }
  .member_column{
    margin-left: 0px;
    padding-left: 15px;
  }
  .card{
    display:flex;
    width: 100%;
  }
  .card img{
    width: 150px;
    height: 150px;
  }
  .member_row{
    display:flex;
    flex-direction: column;
  }
  .container{
    display:block;
    width: 150px;
  }

  /* about page */
  .aboutimg{
    width:280px;
    height:200px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .ename {
    font-size: 110%;
}

  /* navbar */
  .header{
    background-color: #b63232;
  }
  .banner{
    width:100%;
    padding-top: 15px;
    height:auto;
    padding-left: 0px;
  }
/*
  .navbar{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height:auto;
    padding-left: 0px;
    padding-top: 0px;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b63232;
    padding-left: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } */

  .navbar li {
    float: left;
    padding-top: 10px;
  }

  /* .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 2px;
    text-decoration: none;
  }
  .nav{
    display: flex;
    flex-direction: column;
  }  */
  /* .navimg{
    display: inline-block;
    padding-left: 0px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  } */
  .navmain{
    display: inline-block;
  }
  .homehidden{
    display:flex;
    text-decoration: none;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-weight: 700;
    padding:7px;
  }
  .homehidden:hover{
    text-decoration: underline;
  }

  .navbar li a:hover{
      text-decoration: underline;
  }

  /* dropdown */
  /* .navbar ul ul {
  	display: none;
  	position: absolute;
    padding: 0px;
  }
  .navbar ul li:hover > ul {
  	display:inherit;
  }
  .navbar ul ul li {
  	float:none;
  	display:list-item;
  	position: relative;
    margin-right: 0px;
  } */

  .aboutimg{
    width:280px;
    height:240px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 70px;
  }
  .stext{
    color: white;
    font-size: 100%;
    padding: 8px 12px;
    position: absolute;
    top: 245px;
    left: 0px;
    width: 100%;
    text-align: center;
    background: #b63232;
    width: auto;
  }
  .prev, .next{
    cursor: pointer;
    position: absolute;
    top: 34%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 200%;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    color: white;
  }
  .experience_slides img{
    width: 100%;
    padding-bottom: 60px;
  }

.contactbar{
    width:100%;
}

.contactinfo{
    display:inline-block;
    padding: 10px;
}

.question_form {
    width: 90%;
}

.container{
    padding-left: 10px;
}
}
